.frame {
  width: 100%;
  height: 100%;
  background-color: #e2f1fa;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .clock {
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    font-family: analog-clock;

    &--hour-hand {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 30%;
      background-color: #000000;
      transform: translateY(-100%) translateX(-50%) rotate(var(--degree));
      transform-origin: 50% 100%;
    }

    &--minute-hand {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 35%;
      background-color: #383634;
      transform: translateY(-100%) translateX(-50%) rotate(var(--minute-degree));
      transform-origin: 50% 100%;
    }

    &--second-hand {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 40%;
      background-color: #0099ff;
      transform: translateY(-100%) translateX(-50%) rotate(var(--second-degree));
      transform-origin: 50% 100%;
    }

    &--numbers {
      position: absolute;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      width: 50px;
      height: 50px;
      border-radius: 100%;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(var(--pos-x), var(--pos-y));
    }

    &--lines {
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #000000;
      transform: translate(calc(var(--pos-x) - 50%), calc(var(--pos-y) - 50%)) rotate(var(--rotation));
    }

    .point {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #000000;
      border-radius: 100%;
    }
  }
}
