.main {
  margin: auto;
  margin-top: 24px;
  max-width: 600px;
  padding-left: 12px;

  section {
    &:first-child {
      aspect-ratio: 1 / 1;
      margin-bottom: 24px;
    }

    &:last-child {
      margin-top: 24px;
    }
  }
}